<script src='/javascript/practice_session.js'></script>

<input hidden id='session_id' value={{session_id}}>
<input hidden id='if_musician' value={{if_musician}}>
<input hidden id='practice_start' value={{practice_start}}>
<input hidden id='practice_end' value={{practice_end}}>
<div id='body-wrapper'><h1>Enable your webcam and audio above by clicking "Allow" twice!</h1></div>

<div id="critique_video_wrapper" hidden>
	<div id="label">
		<p>Recorded practice<p>
	</div>
	<video id='critique_video'></video>  <!-- {{#if if_musician}}{{else}}controls{{/if}} -->
	<div id="scrubber">
	    <div id="progress"></div>
	</div>
	{{#if if_musician}}
		<div class="play_pause nocursor">
		</div>
	{{else}}
		<div class="play_pause">
	    	<span id="play_icon" class="pp_icon glyphicon glyphicon-play"></span>
	    	<span id="pause_icon" class="pp_icon glyphicon glyphicon-pause"></span>
	    </div>
	{{/if}}
	
</div>

<div id='active_critique'></div>
<audio id='critique_audio' hidden></audio>

<div id="playback-container" fixed hidden>
	<a id="exit" class="btn btn-lg" href="/home">Exit Session</a>
	{{#if if_musician}}
		<div class="pure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" class="glow">
				<h3><span class="glyphicon glyphicon-record"></span> recording </h3>
		</div>
	{{else}}
		<div class="psure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" class="glow">
				<h3><span class="glyphicon glyphicon-record"></span> recording </h3>
		</div>
	{{/if}}

</div>



<div id="practice" fixed>
	{{#if if_musician}}
		<div id="waiting_response">
			<div id="waiting_text">Waiting for the critiquer...</div>
		</div>

		<div id="#practice_container" hidden>
	        <div id="practice_text">Currently practicing! Click End Session to end.</div>
	    </div>

	    <input type='button' class="btn btn-lg" id="start_session" value="Start recording">
	    
	    <div id="critiques_wrapper" class="hidden">
	       <div id='critiques'></div>
	    </div>

	{{else}}

		<div class="memo">
			<p><h3 id="head">Practice will begin when musician has started recording!</h3>
			<h3>Drop quick reminder notes while the musician is playing, so you guys can talk about it more in-depth after they finish playing!</h3>
			<br><h4>(They can't see the timeline until they finish playing, so don't worry about distracting them!)</h4></p>
		</div>


	    <div id="buttons"> 
	        <input id="comment-textbox" type="text" placeholder="Type and hit enter!"><br/>

	        <div id="button-memo">
	        	(Leave quick reminder notes while they're playing above!) 
	        </div>  
	    </div>
	            
	  
	    <div id="critiques_wrapper">
	       <div id='critiques'></div>
	    </div>

	{{/if}}
</div>

<div id="exit_save" hidden>
	<a id="exit" class="btn btn-lg" href="/home">Exit Session</a>
	<a id="save" class="btn btn-lg" href="#">Save Playback Video</a>
</div>