<script>
	var critiquer_id = {{critiquer_id}};
	var musician_id  = {{musician_id}};
	var started = {{is_recording}}

	function toggle(button) {
     	switch(button.value) {
          case "Start rehearsal":
               button.value = "Stop rehearsal";
               //update fb, start recording and switch critiquer's interface
               break;
          case "Stop rehearsal":
          	   //update fb is_recording value, start recording and switch critiquer's interface
               button.value = "Start rehearsal";
               break;
     	}
	}
</script>
<script src='/javascript/practice_session.js'></script>

<input hidden id='session_id' value={{session_id}}>
<input hidden id='if_musician' value={{if_musician}}>

<script src='/javascript/practice_session.js'></script>
<video id='critique_video' hidden {{#if if_musician}}controls{{/if}}></video>


{{#if if_musician}}

	<div class="pure-u-2-3" id="video-container">
	    <video class="outer" id="my-video" muted="true" autoplay=""></video>
	    <video class="inner" id="their-video" autoplay=""></video>
	    
	    <div id="start-button">
    		<input type="button" id="start" value="Start rehearsal" class="btn btn-default btn-lg">
    		<input type="button" id="stop" value="Stop rehearsal" class="btn btn-default btn-lg">
		</div>

	</div>
	<button type='button' id='begin_recording'>Start Session</button>
	<button type='button' id='end_recording' hidden>End Session</button>
	<li class='right_bar' id='critiques' hidden</li>

{{else}}

	<div class="pure-u-2-3" id="video-container">
	    <video class="inner"id="my-video" muted="true" autoplay=""></video>
	    <video class="outer" id="their-video" autoplay=""></video>
	</div>

	{{#if is_recording}}
		<div class="well button-panel">
	        <h3>Click tags to comment on performance</h3>
	        <ul class="tags">
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-pitch" value="good pitch">Pitch</button>
	                <button type="button" class="btn btn-default down" id="bad-pitch" value="bad pitch">Pitch</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-tone" value="good tone">Tone</button>
	                <button type="button" class="btn btn-default down" id="bad-tone" value="bad tone">Tone</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-rhythm" value="good rhythm">Rhythm</button>
	                <button type="button" class="btn btn-default down" id="bad-rhythm" value="bad rhythm">Rhythm</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-posture" value="good posture">Posture</button>
	                <button type="button" class="btn btn-default down" id="bad-posture" value="bad posture">Posture</button>
	            </div>
	        </ul>
    	</div>
	{{/if}}

	<li class='right_bar' id='critiques'></li>
	<input type='text' id='critique_text'></input>
	<button type='button' id='bad_pitch' class='good_button'>Pitch</button>
	<button type='button' id='bad_pitch' class='good_button'>Posture</button>
	<button type='button' id='bad_pitch' class='good_button'>Tone</button>
	<button type='button' id='bad_pitch' class='good_button'>Rhythm</button>	
	<button type='button' id='bad_pitch' class='bad_button'>Pitch</button>
	<button type='button' id='bad_pitch' class='bad_button'>Tone</button>
	<button type='button' id='bad_pitch' class='bad_button'>Posture</button>
	<button type='button' id='bad_pitch' class='bad_button'>Rhythm</button>

{{/if}}

