<script src='/javascript/practice_session.js'></script>

<input hidden id='session_id' value={{session_id}}>
<input hidden id='if_musician' value={{if_musician}}>
<input hidden id='practice_start' value={{practice_start}}>
<input hidden id='practice_end' value={{practice_end}}>

<video id='critique_video' hidden {{#if if_musician}}{{else}}controls{{/if}}></video>
<div id='active_critique'></div>
<audio id='critique_audio' hidden></audio>

<div id="playback-container" hidden>
	{{#if if_musician}}
		<div class="pure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" hidden>
			<p>RECORDING</p>
		</div>
	{{else}}
		<div class="psure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" hidden>
			<p>RECORDING</p>
		</div>
	{{/if}}

</div>

<div id="settings" hidden>
		<p>Choose your playback settings:</p>
		<div class="switch">
			<!-- <input type="checkbox" name="my-checkbox" checked> -->
			<p>Who is controlling the playback:</p>
			<div class="control btn-group btn-toggle"> 
			    <button class="btn btn-default">Them</button>
			    <button class="btn btn-primary active">Me</button>
		  	</div>
		  	<p>Allow for critiquers audio:</p>
			<div class="btn-group btn-toggle"> 
			    <button class="btn btn-default">Off</button>
			    <button class="btn btn-primary active">On</button>
		  	</div>
		</div>
</div>

<!-- where full comment is displayed/read in playback -->
<div id="full-comments" hidden>
	<p>Read comment here</p>
</div>

{{#if if_musician}}
	<div id="waiting_response">
		<div id="waiting_text">Waiting for the critiquer...</div>
	</div>

	<div class="memo">
		<p>Click "Start Session" to begin recording your practice. Unclick the record button when you're finished.</p>
	</div>

	<div id="#practice_container" hidden>
        <div id="practice_text">Currently practicing! Click End Session to end.</div>
    </div>

    <input type='button' class="btn btn-default btn-lg" id="start_session" value="Start Session">
    
    <div id="critiques_wrapper">
       <div id='critiques' hidden></div>
    </div>

{{else}}

	<div class="memo">
		<p>Practice will begin when musician has started recording.</p>
	</div>

	<div id="waiting_comment-panel">
		<p>Add comments here once recording has started</p>
	</div>

	<!-- <div id="comment-panel" class="comment-container">
		<div id="compliment">
			<p id="compliment-text">Add compliment</p>
			<div class= "expanded" id="compliment-expanded" hidden>
				<textarea rows="4" cols="50" id="compliment-textbox" placeholder="type here..."></textarea>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" id="compliment-button" class="submit btn btn-default">submit</button>
					</div>
					<div class="btn-group">
						<button type="button" id="compliment-button" class="cancel btn btn-default">cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div id="comment">
			<p id="comment-text">Add comment</p>
			<div class= "expanded" id="comment-expanded" hidden>
				<textarea rows="4" cols="50" id="comment-textbox" placeholder="type here..."></textarea>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" id="comment-button" class="submit btn btn-default">submit</button>
					</div>
					<div class="btn-group">
						<button type="button" id="comment-button" class="cancel btn btn-default">cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div id="suggestion">
			<p id="suggestion-text">Add suggestion</p>
			<div class= "expanded" id="suggestion-expanded" hidden>
				<textarea rows="4" cols="50" id="suggestion-textbox" placeholder="type here..."></textarea>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" id="suggestion-button" class="submit btn btn-default">submit</button>
					</div>
					<div class="btn-group">
						<button type="button" id="suggestion-button" class="cancel btn btn-default">cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div> --> 

    <!-- <div id='waiting_critique'></div>
	<div id='critiques'></div>
	<input id="critique_text" type="text" placeholder="say something..">

    <div id="critique-panel">
    </div> -->

    <!-- <div id="critiques_wrapper">
	   <div id='critiques'>   
       </div>
    </div> -->

    <div id="text-entry">
    	<textarea rows="4" cols="50" id="textbox" type="text" placeholder"type here..."></textarea>
    	<!-- <div id="radios">
    		<p>Choose a color tag:</p>
    		<div id="buttons">
				<div id="options" class="btn-group btn-group-justified" data-toggle="buttons-radio">
			          <button type="button" class="color btn btn-default" id="option1">Good</button>
			          <button type="button" class="color btn btn-default" id="option2">Ok</button>
			          <button type="button" class="color btn btn-default" id="option3">Bad</button>
    			</div>
				<button type="button" id="suggestion-button" class="submit btn btn-default">submit</button>

				<button type="button" id="suggestion-button" class="cancel btn btn-default">cancel</button>
			</div>
		</div> -->

		<!-- form radio buttons example -->
		  <form id="radios" class="form">
		  	  <p>Choose a comment tag:</p>
			  <div id="buttons" class="btn-group btn-toggle" data-toggle="buttons">
				    <label id ="option1" class="btn btn-success active">
					      <input type="radio" name="options" value="option1" checked=""> +
				    </label>
				    <label id ="option2" class="btn btn-info">
					      <input type="radio" name="options" value="option2"> neutral
				    </label>
				    <label id ="option3" class="btn btn-danger">
					      <input type="radio" name="options" value="option3" checked=""> -
				    </label>
			  </div>
			  <div id="entry">
				  <button class="submit btn btn-default">Submit comment</button>
				  <button class="cancel btn btn-default">Cancel</button>
			  </div>
		  </form>  
  
    </div>

    <div id="critiques_wrapper">
       <div id='critiques' {{#if if_musician}}hidden{{/if}}></div>
    </div>

{{/if}}

<a id="exit" class="btn btn-danger btn-lg" href="/home">Exit Session</a>
