<script src='/javascript/practice_session.js'></script>

<input hidden id='session_id' value={{session_id}}>
<input hidden id='if_musician' value={{if_musician}}>
<input hidden id='if_musician' value={{practice_start}}>
<input hidden id='if_musician' value={{practice_end}}>

<video id='critique_video' hidden {{#if if_musician}}controls{{/if}}></video>

<div id="practice-container">
{{#if if_musician}}


	<div id="waiting_response" hidden>
		<div id="waiting_text">Waiting for the critiquer...</div>
	</div>

	<div class="pure-u-2-3" id="video-container">
	    <video class="outer" id="my-video" autoplay></video>
	    <video class="inner" id="their-video" autoplay></video>
	</div>
	<div id="start-button">
    	<input type='button' class="btn btn-default btn-lg" id="start_session" value="Start Session"/>
	</div>

{{else}}

	<div class="pure-u-2-3" id="video-container">
	    <video class="inner"id="my-video" muted autoplay></video>
	    <video class="outer" id="their-video" autoplay></video>
	</div>

	<!-- This may need to be called via javascript once the status changes, im just going to have it default to always showing -->
		<div class="well button-panel">
	        <h3>Click tags to comment on performance</h3>
	        <ul class="tags">
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-pitch" value="pitch">Pitch</button>
	                <button type="button" class="btn btn-default down" id="bad-pitch" value="pitch">Pitch</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-tone" value="tone">Tone</button>
	                <button type="button" class="btn btn-default down" id="bad-tone" value="tone">Tone</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-rhythm" value="rhythm">Rhythm</button>
	                <button type="button" class="btn btn-default down" id="bad-rhythm" value="rhythm">Rhythm</button>
	            </div>
	            <div class="tag-pair btn-group btn-group-lg">
	                <button type="button" class="btn btn-default up" id="good-posture" value="posture">Posture</button>
	                <button type="button" class="btn btn-default down" id="bad-posture" value="posture">Posture</button>
	            </div>
	        </ul>
    	</div>
	
	<div id='critiques'></div>
	<input id="critique_text" type="text" placeholder="say something..">

{{/if}}
</div>

<div id="playback-container" hidden>
	{{#if if_musician}}
		<div class="pure-u-2-3" id="video-container">
		    <video class="bottom-video" id="my-video" autoplay></video>
		    <video class="top-video" id="their-video" autoplay></video>
		    <video class="critique-video" id="critique_video"></video>
		</div>
	{{else}}
		<div class="pure-u-2-3" id="video-container">
		    <video class="top-video" id="my-video" autoplay></video>
		    <video class="bottom-video" id="their-video" autoplay></video>
		    <video class="critique-video" id="critique_video" controls></video>
		</div>
	{{/if}}
</div>

