<script src='/javascript/practice_session.js'></script>

<input hidden id='session_id' value={{session_id}}>
<input hidden id='if_musician' value={{if_musician}}>
<input hidden id='practice_start' value={{practice_start}}>
<input hidden id='practice_end' value={{practice_end}}>
<div id='body-wrapper'><h1>Enable your webcam and audio above by clicking "Allow" twice!</h1></div>

<video id='critique_video' hidden {{#if if_musician}}{{else}}controls{{/if}}></video>
<div id='active_critique'></div>
<audio id='critique_audio' hidden></audio>

<div id="playback-container" hidden>
	{{#if if_musician}}
		<div class="pure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" hidden>
			<p>RECORDING</p>
		</div>
	{{else}}
		<div class="psure-u-2-3 video-container">
		    <video class="inner-video" id="my-video" autoplay></video>
		    <video class="outer-video" id="their-video" autoplay></video>
		    <audio id='their-audio' hidden autoplay></audio>
		</div>

		<!-- blinking record -->
		<div id="recording" hidden>
			<p>RECORDING</p>
		</div>
	{{/if}}

</div>

<!-- <div id="settings" hidden>
		<p>Choose your playback settings:</p>
		<div class="switch">
			<p>Who is controlling the playback:</p>
			<div class="control btn-group btn-toggle"> 
			    <button class="btn btn-default">Them</button>
			    <button class="btn btn-primary active">Me</button>
		  	</div>
		  	<p>Allow for critiquers audio:</p>
			<div class="btn-group btn-toggle"> 
			    <button class="btn btn-default">Off</button>
			    <button class="btn btn-primary active">On</button>
		  	</div>
		</div>
</div>

<div id="full-comments" hidden>
	<p>Read comment here</p>
</div> -->

{{#if if_musician}}
	<div id="waiting_response">
		<div id="waiting_text">Waiting for the critiquer...</div>
	</div>

	<div class="memo">
		<p>Click "Start Session" to begin recording your practice. Unclick the record button when you're finished.</p>
	</div>

	<div id="#practice_container" hidden>
        <div id="practice_text">Currently practicing! Click End Session to end.</div>
    </div>

    <input type='button' class="btn btn-default btn-lg" id="start_session" value="Start Session">
    
    <div id="critiques_wrapper">
       <div id='critiques' hidden></div>
    </div>

{{else}}

	<div class="memo">
		<p><h3>Practice will begin when musician has started recording!</h3>
		<h4>Drop quick reminder notes while the musician is playing, so you guys can talk about it more in-depth after they finish playing!</h4>
		<br>(They can't see the timeline until they finish playing, so don't worry about distracting them!)</p>
	</div>


    <div id="buttons"> <!-- class="btn-group btn-toggle" data-toggle="buttons"> -->
        <input id="comment-textbox" type="text" placeholder="Type and hit enter!"><br/>

        <div id="button-memo">
        	(Leave quick reminder notes while they're playing above!) 
        </div>  
    </div>
            
  
    <div id="critiques_wrapper">
       <div id='critiques' {{#if if_musician}}hidden{{/if}}></div>
    </div>

{{/if}}
<div id="exit_save" hidden>
	<a id="exit" class="btn btn-danger btn-lg" href="/home">Exit Session</a>
	<a id="save" class="btn btn-default btn-lg" href="#">Save Playback Video</a>
</div>