<script src='javascript/users.js'></script>

<input type='hidden' id='other_user_id'> {{user.id}} </input>

{{#if error}}
<div id="profile-content" class="container">
    <h3> Sorry, this user couldn't be found! </h3>
    <h4> Click <a href="/home">here</a> to go back.</h4>
</div>
{{else}}
<div id="profile-content" class="container">
	<h1> Hello {{user.name}}! </h1>
    <div id="user_info">
        <strong>Username</strong>: {{user.name}}
        <br>
        <strong>Email</strong>: {{user.user_name}}
        <br>
        <strong>Instrument Played</strong>: {{user.instrument}}
    </div>
    <h3 >><a href="/home">Go home!</a></h3>
</div>
{{/if}}